@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Xanh+Mono:ital@0;1&display=swap');

:root{
--dark-mode:#030202;
--light-mode:#D0CFCF;
--special-font:"Xanh Mono", monospace;
--global-font:"JetBrains Mono", monospace;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color:var(--dark-mode);
}
a{
    display:block;
    color:var(--light-mode);
    text-decoration:none;
}
header.header{
    width:100%;
    height:15vh;
    display:flex;
    margin:0 auto;
    align-items:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:10px 10rem;
}
/* header.logo h1::after{
    content:'';
    position:absolute;
    width:7px;
    height:7px;
    top:12px;
    left:500px;
    transform:rotate(45deg);
    background-color:var(--light-mode);
} */
header h1.logo a{
    font-weight:700;
    font-size:2rem;
    font-family:var(--special-font);
    color:var(--light-mode);
} 
ul.navbar{
    width:40%;
    display:flex;
    align-items:center;
    justify-contents:space-around;
    list-style:none;
    font-size:.81rem;
    font-family:var(--global-font);
    position:relative;
    top:1rem;
    left:1.9rem;
}

ul.navbar li.navlist{
    width:100%;
    position:relative;
}
ul.navbar li.navlist a{
    width:100%;
}
ul.navbar li.navlist a::after{
    content:'';
    transition:all .51s ease;
    position:absolute;
    left:0;
    top:100%;
    width:0;
    height:1px;
    background-color:var(--light-mode);
}
ul.navbar li.navlist a:hover::after{
    content:'';
    position:absolute;
    width:calc(100% - 50%);
    height:1px;
    background-color:var(--light-mode);
}
main{
    width:100%;
    min-height:100%;
    padding:30px 30rem;
}
main header.main h1.main-title{
    color:var(--light-mode);
    font-family:var(--global-font);
    font-size:1.5rem;
}
header.main{
    width:100%;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header.main input[type="search"]{
    all:unset;
    display:none;
    padding:3px 0;
    border-bottom:1px solid #fff;
    color:var(--light-mode);
    font-family:var(--global-font);
}
header.main button[type="submit"]{
    all:unset;
    color:var(--light-mode);
    cursor:pointer;
    font-size:1.1rem;
}
/* Dynamic Blog container style */
div.container-blog{
    width:100%;
    min-height:100%;
}
div.container-blog div.blog{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:1rem;
}
h4.date{
    font-family:var(--global-font);
    text-transform:lowercase;
    color:#777777;
}
h4.topics a{
    font-family:var(--global-font);
    color:var(--light-mode);
    text-decoration:underline;
    text-transform:lowercase;
}
footer.footer{
width:100%;
position:relative;
bottom:-1rem;
height:10vh;
display:flex;
justify-content:center;
align-items:center;
color:var(--light-mode);
}
footer.footer h4{
    font-size:1rem;
    font-family:var(--global-font);
}
li.mode i{
    color:var(--light-mode);
    cursor:pointer;
    font-size:1rem;
    position:relative;
    /* position:absolute;
    top:1rem;
    right:20rem; */
}
li.mode i#dark-mode{
    display:none;
}