@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Xanh+Mono:ital@0;1&display=swap');

:root{
--dark-mode:#030202;
--light-mode:#D0CFCF;
--special-font:"Xanh Mono", monospace;
--global-font:"JetBrains Mono", monospace;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color:var(--dark-mode);
}
a{
    display:block;
    color:var(--light-mode);
    text-decoration:none;
}

header.header{
    width:100%;
    height:15vh;
    display:flex;
    margin:0 auto;
    align-items:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:10px 10rem;
}
/* header.logo h1::after{
    content:'';
    position:absolute;
    width:7px;
    height:7px;
    top:12px;
    left:500px;
    transform:rotate(45deg);
    background-color:var(--light-mode);
} */
header h1.logo a{
    font-weight:700;
    font-size:2rem;
    text-align:center;
    font-family:var(--special-font);
    color:var(--light-mode);
} 

ul.navbar{
    width:20%;
    display:flex;
    align-items:center;
    justify-contents:center;
    list-style:none;
    font-size:.81rem;
    font-family:var(--global-font);
    position:relative;
    top:1rem;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

ul.navbar li.navlist{
    width:100%;
    position:relative;
}
ul.navbar li.navlist a{
    width:100%;
}
ul.navbar li.navlist a::after{
    content:'';
    transition:all .51s ease;
    position:absolute;
    left:0;
    top:100%;
    width:0;
    height:1px;
    background-color:var(--light-mode);
}
ul.navbar li.navlist a:hover::after{
    content:'';
    position:absolute;
    width:calc(100% - 50%);
    height:1px;
    background-color:var(--light-mode);
}





form{
    margin:0 auto;
    height:80vh;
    width:calc(100% - 3rem);
    color:var(--light-mode);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family:var(--global-font);
}
form div{
    padding:1rem;
}
form div label{
    font-size:1.2rem;
}
form div input{
    all:unset;
    width:40rem;
    border:1px solid #fff;
    padding:4px;
    margin:.51rem 0;
    font-size:1.2rem;
}
form div textarea{
    all:unset;
    width:40rem;
    border:1px solid #fff;
    min-height:30vh;
    text-wrap:unrestricted;
    word-wrap:break-word;
    border:1px solid #fff;
    padding:4px;
    margin:.51rem 0;
    font-size:1.2rem;
}
input[type="submit"]{
    all:unset;
    width:calc(fit-content + 10rem);
    padding:.61rem;
    background:var(--light-mode);
    text-align:center;
    color:var(--dark-mode);
    transition:all .2s ease;
    cursor:pointer;
}
input[type="submit"]:hover{
    background:var(--dark-mode);
    color:var(--light-mode);
    outline:1px solid #fff;
}
/* table Style */
#posts {
    font-family: var(--global-font);
    border-collapse: collapse;
    width:calc(100% - 3rem);
    margin:.51rem auto;
    padding:10px;
    font-size:.71rem;
  }
  
  #posts td, #posts th {
    border: 1px solid var(--dark-mode);
    padding: 8px;
  }
  
  #posts tr:nth-child(even){background:var(--light-mode);}
  #posts tr:nth-child(odd){background:var(--light-mode);}
  
  #posts tr:hover {background-color: var(--light-mode);}
  
  #posts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FA7070;
    color: var(--dark-mode);
  }
  ul.pagination{
    width:4rem;
    font-family:var(--global-font);
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    margin:1rem auto;
}
ul.pagination li.page-list{
    margin-right:1rem;
}

ul.pagination li.page-list a{
    width:24px;
    text-align:center;
    height:24px;
    border-radius:50%; 
    font-size:14px;
    background-color:var(--light-mode);
    color:var(--dark-mode);
  }

ul.pagination li.page-list.active a{
    width:24px;
    height:24px;
    text-align:center;
    border-radius:50%; 
    font-size:14px;
    color:var(--light-mode);
    outline:1px solid var(--light-mode);
    background-color:var(--dark-mode);
  }
  i.ri-delete-bin-fill{
    color:#A34343;
    font-size:1rem;
  }
  i.ri-quill-pen-fill{
    color:#2C7865;
    font-size:1rem;
  }
  td.control-btn{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;

  }